<ngx-ui-loader></ngx-ui-loader>
<div class="container" style="width:50%">
    <table class="table table-hover my-5">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col" colspan="2">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eachItem of cartItems; let i = index">
                <td>{{i+1}}</td>
                <td><img [src]="eachItem.image" alt="Cake Image" style="height:5rem"></td>
                <td>{{eachItem.name}}</td>
                <td>{{eachItem.price | currency: "INR"}}</td>
                <td>
                    <small class="mx-2"><fa-icon [icon]="faPlus" class="text-success" (click)="onPlus(eachItem)" style="cursor: pointer;"></fa-icon></small> {{eachItem.quantity}}
                    <small class="mx-2"><fa-icon [icon]="faMinus" class="text-danger" (click)="onMinus(eachItem.cakeid)" style="cursor: pointer;"></fa-icon></small>
                </td>
                <td>
                    <small><fa-icon [icon]="faTrash" class="text-danger" (click)="onDelete(eachItem.cakeid)" style="cursor: pointer;"></fa-icon></small>
                </td>
            </tr>
            <tr class="table-dark">
                <th colspan="3">Total Cost</th>
                <td colspan="3">{{totalCost | currency: "INR"}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 col-2" style="float: right">
        <button type="button" class="btn btn-success" routerLink="/checkout">Checkout</button>
    </div>
    <div class="clearfix"></div>
</div>