<ngx-ui-loader></ngx-ui-loader>
<div class="container">
    <div class="p-3" style="width: 30%;">
        <span class="h6">Sort by Price</span>
        <button type="button" class="align-baseline btn btn-link" routerLinkActive="active" (click)="sort('desc')">High to Low</button>
        <button type="button" class="align-baseline btn btn-link" routerLinkActive="active" (click)="sort('asc')">Low to High</button>
    </div>
    <div class="clearfix"></div>
    <app-card *ngFor="let eachcake of cakeDetails" [cakeData]="eachcake"></app-card>
</div>